<div class="w-100 d-flex align-items-center justify-content-end p-2">
    <div class="border me-2" style="border-radius: 7px; padding: 7px 12px; background-image: url(assets/cutcube.png)">You're a <b>{{userDetails.role | titlecase}}</b></div>
    <button class="btn btn-outline-danger" (click)="logOut()" >Logout</button>
</div>

@if (!isLoading) {
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="details-block">
            <img *ngIf="userDetails.profile_image" [src]="userDetails.profile_image" alt="Profile Image" class="profile-image mb-2" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover;">
            
            <svg *ngIf="!userDetails.profile_image" xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#5985E1">
                <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/>
            </svg>
            <h3 class="mt-2">{{userDetails.first_name | titlecase}}&nbsp;{{userDetails.last_name | titlecase}}</h3>
            <h3 class="mt-2">{{userDetails.phone}}</h3>
            <h3 class="mt-2">{{userDetails.email}}</h3>
        </div>
        <small class="float-end">*Contact <b>Admin</b> to update your details. </small>
    </div>
    <div class="col-3"></div>
</div>
} @else {
    <app-loader></app-loader>
}


