.orders-box {
    left: 0px;
    border-radius: 0;
    box-shadow: 0px 0px 5px black;
    height: 86vh;
    width: 35vw;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    top: 0;
}

::ng-deep .mat-mdc-chip-set-stacked .mat-mdc-chip {
    width: 100%;
    background-color: rgba(253, 254, 255, 0.548) !important;
}

::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
    background-color: rgba(8, 8, 8, 0.719) !important;
}

::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
    color: white !important
}

::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    color: white !important
}

.box-button-close {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    width: 15px;
    height: 50px;
    position: absolute;
    right: -15px;
    top: 25%;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.box-button-open {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    width: 15px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 25%;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    z-index: 9999
}

.box-button-close:hover {
    background-color: rgb(235, 231, 231);
}

.box-button-open:hover {
    background-color: rgb(235, 231, 231);
}

::ng-deep .mat-mdc-tab-body-wrapper{
    height: 78vh !important;
}