<div class="row" style="height: 100vh; overflow-y: hidden">
    <div class="col-md-5 logo fs-1 text-white">
        <!-- <img class="logoImg" src="../../../assets/icon-512.webp" alt=""> -->
         <strong>ONE</strong>APP <br> <span class="text-secondary">ADMIN</span>
    </div>
    <div class="col-md-7 login">
        <div class="border w-50 p-3 text-center bg-white">
            <h3>Admin Login</h3>
            <div class="d-flex flex-column">
                <mat-form-field class="example-full-width mt-3" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput [(ngModel)]="mobileNumber" placeholder="Mobile Number" value="">
            </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password" placeholder="Password" value="">
            </mat-form-field>
            <a href="javascript:void(0)" class="mb-2" (click)="forgotPassword()">forgot password?</a>
            <button class="btn btn-dark" [disabled]="password == '' || mobileNumber.length !== 10 || isLoading" (click)="logIn()">
                 
                @if (isLoading) {
                    <app-button-spinner></app-button-spinner>
                } @else {
                    Login
                }
            </button>
            </div>
        </div>
    </div>
</div>