.logo {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg{
    width: 300px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/endless-constellation.svg');
}

.border {
    border-radius: 20px;
    border: 2px solid black !important;
    /* box-shadow: 0px 0px 0px black */
}

.kitchenLogo{
        width: 41px;
    border-radius: 6px;
    cursor: pointer;
}