.brand-section {
  background: linear-gradient(135deg, #000000, #1f1f1f);
}

.login-card {
  width: 100%;
  max-width: 420px;
}

.calculator-btn {
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.kitchenLogo {
  width: 55px;
  height: auto;
}
