<!-- headers starts -->
<div class="header d-flex justify-content-between align-items-center">
  <h3 class="">{{header}}</h3>
    <div class="d-flex gap-0 align-items-center">
     @if (view != 'suggestions') {
      <input type="text" class="form-control w-50 me-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Tickets">
      <button class="btn btn-dark ms-2 text-nowrap" (click)="addNewTicket()">Create New Ticket</button>
     }
      <div class="btn-group btn pe-0" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" (click)="changeView('complaints')" autocomplete="off" checked>
  <label class="btn btn-outline-dark text-nowrap" for="btnradio2">Support Tickets</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" (click)="changeView('suggestions')" autocomplete="off">
  <label class="btn btn-outline-dark" for="btnradio1">Suggestions</label>
</div>
  </div>
  
</div>
<!-- headers end -->

@if(view === 'suggestions'){
  @if(!isLoading){
     @if (suggestions.length > 0) {
    
    <div class="p-3 pt-0">
        <div class="row">
           @for (item of suggestions; track $index) {
      <div class="col-6">
        <div class="box p-2 mt-3">
      <div class="d-flex">
        <h6>{{ item.subject }}</h6> &nbsp;
        <small>by {{ item.user_name | titlecase }}</small>
      </div>
      <q><i>{{ item.suggesion }}</i></q>
      <hr class="my-1">
      <small>{{ item.created_time | date: 'dd/MM/yyyy' }} &bull; {{ item.created_time | date: 'HH:mm' }}</small>
    </div>
      </div>
  }
        </div>
    </div>
 } @else {
    <app-empty-data></app-empty-data>
 } 
  } @else {
  <app-loader></app-loader>
 }
}

@if(view === 'complaints'){
  <app-complaints [searchTerm]="searchTerm"></app-complaints>
}


