
@if (!isLoading) {
  @if(orders){
 <div class="position-relative">
    @if(selectedOrders.length > 0){ 
      <div class="orders-box position-absolute">
      <h5 class="text-center mt-1 d-flex justify-content-center align-items-center">
        <img [src]="markerIcon.selected.url" alt="" style="height: 17px"> <div> Selected Orders ({{selectedOrders.length}}) </div> </h5>
      @for (item of selectedOrders; track $index) {
        {{item}}
      }
</div>
    }
<div >
   
  <google-map
  height="86vh"
  width="100vw"
  class="position-relative"
  [center]="center"
  [zoom]="zoom">

@for (point of generatedPoints; track $index) {
    <map-marker 
    (mapClick)="onMarkerClick(point)"
    style="z-index: 999"
    [position]="point"
    [label]="''"
    [title]="'Status: ' + point.status"
    [icon]="selectedOrders.includes(point.lat)? markerIcon.selected :markerIcon[point.status]"
    >
  </map-marker>
  }
<!-- [icon]="{
    url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
  }" -->
   <map-polygon
    [paths]="polygonPaths"
    [options]="{
      fillColor: 'blue',
      fillOpacity: 0.2,
      strokeColor: 'black',
      strokeOpacity: 0.8,
      strokeWeight: 1
    }">
  </map-polygon>

  <mat-chip-listbox class="mat-mdc-chip-set-stacked position-absolute" style="top: 10px; right: 20px" aria-label="Cutest dog breeds">
  
    <!-- <mat-chip-option class="w-auto" [selected] = "">Delivered</mat-chip-option> -->
    <mat-chip-option class="w-auto" selected><img [src]="markerIcon.new.url" alt="" style="height: 17px">New Order ({{ordersCountByStatus('new')}})</mat-chip-option>
    <mat-chip-option class="w-auto" selected><img [src]="markerIcon.packed.url" alt="" style="height: 17px">Packed ({{ordersCountByStatus('packed')}})</mat-chip-option>
    <mat-chip-option class="w-auto" selected><img [src]="markerIcon.confirmed.url" alt="" style="height: 17px">Confirmed ({{ordersCountByStatus('confirmed')}})</mat-chip-option>
    <mat-chip-option class="w-auto" selected><img [src]="markerIcon.outForDelivery.url" alt="" style="height: 17px">Out For Delivery ({{ordersCountByStatus('outForDelivery')}}) </mat-chip-option>
    <mat-chip-option class="w-auto" selected><img [src]="markerIcon.delivered.url" alt="" style="height: 17px">Delivered ({{ordersCountByStatus('delivered')}})</mat-chip-option>
</mat-chip-listbox>
</google-map>
</div>
 </div>


} @else {
    <app-empty-data></app-empty-data>
}
} @else {
  <app-loader></app-loader>
}