@if (!isLoading) {
    @if(supportTickets.length > 0){
<div class="row">
    @for (item of filteredTickets; track $index) {
        <div class="col-4">
        <div class="card mt-2" style="width: 100%; cursor: pointer; border-radius: 20px" (click)="viewTicket(item)">
  <div class="card-body">
    <div class="mb-1 d-flex justify-content-between" [ngClass]="item.status == 'Open'? 'open': 'close'">
        <div class="ps-2">{{item.status}}</div>
        <div>{{item.ticket_id}}</div>
    </div>
    <div class="mb-2 d-flex justify-content-between" style="background-color: rgba(0, 162, 255, 0.164); border-radius: 15px">
        <div class="ps-2">{{item.created_at | date: 'dd/MM/yy'}}</div>
        <div class="pe-2">{{item.closed_at | date: 'dd/MM/yy'}}</div>
    </div>
    <h5 class="card-title text-truncate">{{item.title}}</h5>
    @if (item.details != '') {
        <p class="card-text text-truncate">{{item.details}}</p>
    } @else {
        <i>no details</i>
    }
  </div>
  <div class="ticket-logo-right"></div>
  <div class="ticket-logo-left"></div>
</div>
    </div>
    }
</div>
} @else {
    <app-empty-data></app-empty-data>
}
} @else {
    <app-loader></app-loader>
}