@if (isLoading == false) {
    <div class="row" style="padding-right: 0px !important">
    <div class="sidebar col-2">
        <!-- <div class="text-center">
            Services
        </div> -->
        <div class="ms-2 d-flex">
                    <!-- <input type="text" class="form-control w-100 me-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Service"> -->
            <!-- <button class="btn btn-dark w-100">
            Sort
        </button> -->
        </div>
        <ul class="ps-0">
            @for (item of services; track $index) {
                <li class="">
                <div
    class="list-item px-1"
    [routerLink]="[`/layout/inventory/grocery`]"
    routerLinkActive="active-item"
    [title]="item.title"
  > 
    <h5 class="pt-3 pb-2">{{item.title}}</h5>
    <div class="indicator" [ngClass]="getStatusClass(item.status)" [title]="item.status"></div>
  </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-10" style="height:86vh; overflow-y: scroll">
        <!-- @if(currentUrl === '/layout/inventory'){
            <div class="w-100 h-100 d-flex justify-content-center align-items-center position-relative border text-center" style="color: #e3e3e3">
                <img src="../../../assets/system-regular-161-trending-flat-hover-ternd-flat-3.webp" style="width: 100px; transform: rotate(180deg); position: absolute; top: 100px; left: 0" alt="">
                <h4>Please Select a Service</h4>
            </div>
        } @else { -->
            <router-outlet></router-outlet>
        <!-- } -->
    </div>
</div>
} @else {
    <app-loader></app-loader>
}
