li {
    list-style: none;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    text-align: center;
    margin-left: 5px;
}

.sidebar {
    margin-top: 30px;
    height: 78vh;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

.list-item {
    border-radius: 10px; 
    border: 1px solid black;
    position: relative
}

.list-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.active-item {
    background-color: black;
    color: white;
    cursor: pointer;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 0px 8px 0px 8px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.color-inactive {
    background: #020024;
background: linear-gradient(37deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 0%, rgba(0, 212, 255, 0) 43%);
}