.card {
    height: 200px;
    border-radius: 20px;
}

.indicator{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.spinner-grow {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
}